schemas/odd/modruski-riario-collations.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Collations of Modruški's speech for Riario, printed editions; ODD by Example customization</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from an analysis of 6 files from modr_eds</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="orgName persName placeName"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="norm" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="orig" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <macroRef key="macro.schemaPattern"/>
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global.responsibility" type="atts" mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p term sic unclear date abbr expan ref head pb lb author editor respStmt resp title bibl"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
               <desc>A mistake in the printed edition, marked as such by the editor of the scholarly edition.</desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" usage="req" mode="change"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <desc>Unclear in the source, marked as such by the editor of the scholarly edition.</desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" usage="req" mode="change"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="abbr" mode="change">
               <gloss>Must end with an "am" element.</gloss>
               <content>
                  <sequence>
                     <textNode/>
                     <elementRef key="am"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="expan" mode="change">
               <desc>Abbreviations expanded by the editor of the scholarly edition.</desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" usage="req" mode="change"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="viaf"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="n" usage="req" mode="change">
                     <gloss>Folio number with recto or verso mark, e. g. 1r.</gloss>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="repo"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module header-->
            <classRef key="att.patternReplacement"/>
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt editionStmt edition extent publicationStmt sourceDesc encodingDesc refsDecl cRefPattern profileDesc abstract creation langUsage language textClass keywords revisionDesc change"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editionStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="edition" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="extent" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="refsDecl" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cRefPattern" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="abstract" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="creation" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="textClass" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="keywords" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="change" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module verse-->
            <!--Checking module msdescription-->
            <!--Checking module transcr-->
            <moduleRef key="transcr" include="am supplied surplus"/>
            <elementSpec ident="am" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supplied" mode="change">
               <desc>Words omitted from the printed edition, supplied (from other editions) by the scholarly editor.</desc>
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" usage="req" mode="change"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surplus" mode="change">
               <desc>Printing errors - words unnecessarily repeated or inserted. Declared as such by the scholarly editor.</desc>
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" usage="req" mode="change"/>
               </attList>
            </elementSpec>
            <!--Checking module linking-->
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <moduleRef key="analysis" include="w pc"/>
            <elementSpec ident="w" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pc" mode="change">
               <attList>
                  <attDef ident="force" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="strong"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body closer"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <desc>Holds the text, as well as the base CTS URN, the textual type, and the language indication.</desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="xml:base" usage="req" mode="change"> 
                     <gloss>You must indicate the CTS URN as base</gloss>
                  </attDef>
                  <attDef ident="xml:lang" usage="req" mode="change"> 
                     <gloss>You must indicate the language (three-letter code)</gloss>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="prosa-oratio"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="closer" mode="change">
               <desc>Final notes added by the printers.</desc>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
